* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px dashed gray; */
}

html {
  /* background-color: green; */
  font-size: 62.5%;
  /* margin: 8px; */
}

body {
  /* background-color: rgb(0, 253, 253); */
  min-height: 100vh;
  background: linear-gradient(35deg,red 15%, orange 20%);
}

#calculator-grid {
  display: grid;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  grid-template-columns: repeat(4, 70px);
  /* greater than or equal to min */
  grid-template-rows: minmax(70px, auto) repeat(5, 70px);
  /* margin: 8px; */
}

#calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 3px solid rgb(201, 201, 201);
  outline: none;
}

#calculator-grid > button:hover {
  background-color: rgb(33, 169, 169);
}

header {
  text-align: center;
  width: 300px;
  margin: 40px auto 0 auto;
  font-size: 3rem;
}

@media only screen and (min-height: 800px) {
  header {
    margin: 153px auto 0 auto;
  }
}

.x:hover {
  color: rgb(255, 255, 255);
}

#output {
  grid-column: span 4;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.50);
  color: white;
  /* direction: rtl; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* unicode-bidi: bidi-override; */
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  padding: 10px;
}

.number {
  background-color: rgb(243, 241, 241);
}

.ac {
  background-color: rgb(248, 0, 0);
  grid-column: span 2;
}

.addOperator, .subtractOperator, .multiplyOperator, .divideOperator {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.equals {
  background-color: rgb(150, 150, 150);
  grid-column: span 2;
}

.sun {
  background-color: rgb(255, 230, 0);
  border-radius: 50%;
  margin: 10px;
}
