* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px dashed gray; */
}

html {
  /* background-color: green; */
  font-size: 62.5%;
  /* margin: 8px; */
}

body {
  /* background-color: rgb(0, 253, 253); */
  min-height: 100vh;
}

#calculator-grid {
  background: linear-gradient(to right, #0011ffc7, #00ff73a8);
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: minmax(70px, auto) repeat(5, 70px);
  /* margin: 8px; */
}

#calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 3px solid rgb(201, 201, 201);
  outline: none;
}

#calculator-grid > button:hover {
  background-color: rgb(33, 169, 169);
}

#output {
  grid-column: span 4;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.50);
  color: white;
  /* direction: rtl; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* unicode-bidi: bidi-override; */
  padding: 10px;
  overflow: hidden;
  /* text-overflow: ellipsis; */
  padding: 10px;
}

.number {
  background-color: rgb(243, 241, 241);
}

.ac {
  background-color: rgb(248, 0, 0);
  grid-column: span 2;
}

.addOperator, .subtractOperator, .multiplyOperator, .divideOperator {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.equals {
  background-color: rgb(150, 150, 150);
  grid-column: span 2;
}

.sun {
  background-color: rgb(221, 200, 8);
  border-radius: 50%;
  margin: 10px;
}
